body {
  height: 100vh;
  padding: 0;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20pt;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20pt;
}

#buttons svg {
  margin-top:-5px;
}

#input {
  position: relative;
}

#input > svg {
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0.8;
}

#input > textarea {
  padding: 20px 60px;
}

#buttons > button {
  max-width: 250pt;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 14pt;
  font-weight: 600;
}

form h5 {
  color: #018bd3;
  font-weight: 400;
  text-align: center;
}

form img {
  margin: 5pt;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20pt;
}
