body {
  height: 100vh;
  padding: 0;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20pt;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20pt;
}

#buttons svg {
  margin-top: -5px;
}

.btn {
  font-size: 10pt;
  padding: 10px;
}

#input {
  position: relative;
  max-width: 650px;
  margin: 0px auto;
}

#input > svg {
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0.8;
}

#input input {
  padding: 15px 55px;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app footer {
  padding: 20px 0;
}

h2 {
  font-size: 14pt;
  font-weight: 600;
}

form h5 {
  font-size: 12pt;
  padding: 60px 0;
  color: #018bd3;
  font-weight: 400;
  text-align: center;
}

form img {
  margin: 5pt;
}

footer {
  font-size: 13pt;
  display: flex;
  justify-content: center;
  gap: 20pt;
  border-bottom: 1px solid #dadce0;
  background: #e6e6e6;
  color: #202124;
}

footer > div {
  display:flex;
  justify-content: space-evenly;
  gap: 20px;
}

footer a {
  color:#000;
}

footer #links {
  display: flex;
  gap: 20px;
  font-size: 10pt;
}